mytemplate/*
template/.template/*
origin-openapi-generator/*
*.jar
# openapi-custom-generator/*
fastapi-openapi/backend/generate/*
fastapi-openapi/template/.template/*
temp/*
venv/*
*.pyc
*.class
sam-app/*
.env